#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.book-card-list {
  list-style-type: none;
  margin-right: 50px;
}

#input {
background-color: #FFFF;
border: 2px solid #B4436C;
color: #B4436C;
margin-left: 5px;
}

ul {
  list-style-type: none;
  text-align: center;
  margin-right: 35px;
}
.app {
  background-color: #EDC7CF;
  border: 2px solid #B4436C;
}

.header {
  color: #B4436C;
  font-family: "Parkinsans";
  margin-top: 15px;
}

.sub-header{
  color: #B4436C;
  font-family: "Parkinsans";
  margin-top: 20px;
}
.button-text {
  color: #B4436C;
  font-family: "Parkinsans";
}

#search-label {
  margin: 15px 15px 15px 10px;
  color: #B4436C;
  font-family: "Parkinsans";
}

#search-button {
  margin-bottom: 2px;
  font-family: "Parkinsans";
  margin-right: 10px;
}
.card-text {
  color: #B4436C !important;
  font-family: "Parkinsans" !important;
}
.book-card {
  border: 2px solid #B4436C !important;
  
}

.book-card:hover{
  background-color: #B4436C;
}

.book-card:hover .card-text span{
  background-color: #B4436C;
  color: #FFFF;
}

.book-card:hover .card-text p{
  background-color: #B4436C;
  color: #FFFF;
}


